header .row {
	background-color: $primary-color;
	padding-bottom: rem-calc(40);
}
.logo img {
	padding: rem-calc(20);
	height:rem-calc(250);
	width:auto;
}
.cta {
	padding-top: rem-calc(50);

	h1 {
		color:$white;
		text-transform: capitalize;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
		
	}
	.button.medium, .button {
		margin: rem-calc(5);
		background-color: $warning-color;
		color:$black;
		&:hover {
			background-color: darken($warning-color, 10)
		}
	}
}

@include breakpoint(small only) {
	.cta {
		padding-top: rem-calc(10);
	}
}