<!-- Facebook Collection Grid -->
<div class="row column">
	<h3>Facebook Collection</h3>
</div>

<div class="row small-up-2 medium-up-4 large-up-4">
  <div class="column column-block">
    <div class="responsive-embed" alt="">
		<div class="fb-video" data-href="https://www.facebook.com/HomeSweetHomeIRL/videos/1618644038430759/" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/HomeSweetHomeIRL/videos/1618644038430759/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HomeSweetHomeIRL/videos/1618644038430759/"></a><p>A resident at Apollo House reads the demands, wishes and hopes of the residents going into New Year 2017. &quot;These are basic demands. The housing crisis is bigger than Apollo House. We just want homes&quot;</p>Posted by <a href="https://www.facebook.com/HomeSweetHomeIRL/">Home Sweet Home Eire</a> on Sunday, 1 January 2017</blockquote>
    </div>
  </div>
  </div>
  <div class="column column-block">
    <div class="thumbnail" alt="">
		
    </div>
  </div>
  <div class="column column-block">
    <div class="thumbnail" alt="">
		
    </div>
  </div>
  <div class="column column-block">
    <div class="thumbnail" alt="">
		
    </div>
  </div>
  </div>
</div>
