<footer>
  <div class="row callout secondary">
    <div class="large-4 columns">
      <h5>Support</h5>
      <div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column column-block">
    <a href="http://irishhousingnetwork.org/"><img class="thumbnail" src="/assets/img/IHN-01.svg" alt="irish housing network logo"></a>
  </div>
  <div class="column column-block">
    <a href="https://unitetheunionireland.org/"><img class="thumbnail" src="/assets/img/unitetheunion.svg" alt="unite the union Ireland logo"></a>
  </div>
</div>
</div>

    <div class="large-4 columns">
      <h5>#tags to tweet</h5>
      <span class="secondary label"><a href="https://twitter.com/intent/tweet?text=Support+@hshireland&url=www.homesweethome.irish&hashtags=endhomelessnessnow">#EndHomelessnessNow</a></span>
      <span class="secondary label"><a href="https://twitter.com/intent/tweet?text=Support+@hshireland&url=www.homesweethome.irish&hashtags=occupynama">#OccupyNama</a></span>
      <span class="secondary label"><a href="https://twitter.com/intent/tweet?text=Support+@hshireland&url=www.homesweethome.irish&hashtags=apollohouse">#ApolloHouse</a></span>
      
    </div>

    <div class="large-4 columns">
      <h5>Mission</h5>
      <p>Home Sweet Home is a campaign to end homelessness in Ireland</p>
    </div>

  </div>
  <div class="menu-copy row">
    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="meldia-gallery.html">Gallery</a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <ul class="menu align-right">
        <li class="menu-text">Copyright © 2016 Home Sweet Home</li>
      </ul>
    </div>
  </div>

</footer>