<section class="promo-video">
          <div id="overlay"></div>
          
          <div id="header-image" >
            <img src="/assets/img/report-image.png">
                </div><!--.header image -->
                <div class="headliner">
                  <div class="column row">
                    <h1 class="text-center">Passion for Excellence</h1>
                  </div>
                </div> <!--.headliner-->

                <div class="header-content">
                  <div class="row">
                    <div class="logo text-center medium-4 columns">
      <img src="assets/img/HSHlogo.svg" alt="home sweet home logo">
    </div>
                  
                  </div>
                </div> <!--.header-content-->
</section>