<div id="home-feature" class="row">
<div id="orbit-bg" class="medium-stacked large-7 columns">
    <div class="orbit" role="region" aria-label="information slider" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-orbit data-timer-delay="14000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    
    <li class="is-active orbit-slide">
    <div>
      <h2>#EndHomelessnessNow</h2>
      <h5><strong>There are 260 people sleeping on the streets of Dublin every single night with more than 6,500 'officially homeless' people, including 2,400 children growing up in hotel rooms. 70 families a month are still losing their homes. </strong></h5>
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2>#ApolloHouse</h2>
      <h5><strong>This is obscene in a country with so much wealth. The homeless crisis could be over very soon if the government made it their priority, but this is simply not happening.  Instead, our government prioritise tax cuts for corporations and high income individuals.</strong></h5>
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2>#EndHomelessnessNow</h2>
      <h5><strong>The homeless need our help and we are sick and tired of waiting while families go homeless and people die in the streets, so now we are taking action. </strong></h5>
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2>#EndHomelessnessNow</h2>
      <h5><strong>Please help us with funding so we can house homeless people directly. We need your support. All money received will go into a campaign that will get people off the streets, into adequate shelter and end homelessness in Ireland. </strong></h5>
      </div>
    </li>
  </ul>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide.</span></button>
  </nav>
</div>
  </div>
<div class="medium stacked large-5 columns">
		<h2>Home Sweet Home</h2>
		<div class="responsive-embed"> 
	<div class="youtube-player" data-id="FsoX73Y5o-Y">
	</div>
	</div>
	</div>
</div>
<!--
  <div class="medium-stacked large-6 columns">
    <h2><a href="https://twitter.com/intent/tweet?text=Support+@hshireland&url=www.homesweethome.irish&hashtags=endhomelessnessnow">#EndHomelessnessNow</a></h2>
    
    <p>An "unprecedented" 7,000 people are now homeless in Ireland, with one family losing their home every day last month and a shocking 2,549 children now living in emergency accommodation</p>
  </div>
  -->