<header id="header">
  <div class="row overlay">
    <div class="logo text-center medium-4 columns">
      <img src="assets/img/HSHlogo.svg" alt="home sweet home logo">
    </div>
    <!--Medium up devices-->
    <div class="cta text-center medium-7 hide-for-small-only columns">
      <h1>It's time to make the change we want to see.</h1>
      <a href="assets/docs/HSH_report_print.pdf" target="_blank" download="HSH-Report"><button class="button ">View HSH Document</button></a>
      <a href="https://my.uplift.ie/petitions/sign-the-open-letter-use-nama-to-end-homelessness" target="_blank"><button class="button medium">Petitions</button></a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBW43bwLUhkzGAS4a8meq3E5t2tK8ZVIlFfI3TMyGpIpSqqQ/viewform" target="_blank"><button class="button medium">Volunteer</button></a>
    </div>
    <!-- /  Medium up devices-->
    <!-- Small only devices-->
    
    <div class="cta text-center medium-7 show-for-small-only columns">
      <h1>It's time to make the change we want to see.</h1>
      <a href="assets/docs/HSH_report_print.pdf" target="_blank" download="HSH-Report"><button class="button">View HSH Document</button></a>
      <a href="https://my.uplift.ie/petitions/sign-the-open-letter-use-nama-to-end-homelessness target="_blank"><button class="button">Petition</button></a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBW43bwLUhkzGAS4a8meq3E5t2tK8ZVIlFfI3TMyGpIpSqqQ/viewform" target="_blank"><button class="button">Volunteer</button></a>
      
    </div>
    <!-- /  Small only devices-->
  </div>
  </header>