
<div id="orbit-bg" class="row column">
		<div class="orbit" role="region" aria-label="information slider" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-orbit data-timer-delay="14000">
  <ul class="orbit-container">
    
    <li class="is-active orbit-slide">
    <div>
      <h2 class="text-center"></h2>
      <img src="assets/img/social-media-images/kodaline-quote.jpg" alt="" class="orbit-image">
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2 class="text-center"></h2>
      <img src="assets/img/social-media-images/rubber-bandits-quote.jpg" alt="" class="orbit-image">
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2 class="text-center"></h2>
      <img src="assets/img/social-media-images/maveric-sabre-quote.jpg" alt="" class="orbit-image">
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2 class="text-center"></h2>
      <img src="assets/img/social-media-images/des-bishop-quote.jpg" alt="" class="orbit-image">
      </div>
    </li>

    <li class="orbit-slide">
    <div>
      <h2 class="text-center"></h2>
      <img src="assets/img/social-media-images/brian-eno-quote.jpg" alt="" class="orbit-image">
      </div>
    </li>
  </ul>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>
	</div>
</div>
</div>