<!--Social Buttons -->
<br>
<div class="row">
    <div class="medium-4 small-centered text-center columns">
    <h3>Social Media</h3>
      <a href="https://www.facebook.com/Home-Sweet-Home-Eire-1612885472339949/"><i class="fi-social-facebook"></i></a>
      <a href="https://twitter.com/HSHIreland"><i class="fi-social-twitter"></i></a>
    </div>
  </div>
  <div class="row">
  	<div class="medium-8 small-centered columns">
          <a class="twitter-timeline" href="https://twitter.com/HSHIreland" data-tweet-limit="3" data-aria-polite="assertive">Tweets by @HSHireland</a>
      </div>
  </div>