<div class="video-section row small-up-1 medium-up-3 large-up-3">
	<h3>Campaign Videos</h3>
	<hr>
	<div class="column column-block text-center">
		<div data-open="videoModal1" src="" class="thumbnail video-1" alt="">
			<i class="play-1 fi-play"></i>
		</div>
	</div>
	<div class="column column-block text-center">
		<div data-open="videoModal2" src="" class="thumbnail video-2" alt="">
			<i class="play-2 fi-play"></i>
		</div>
	</div>
	<div class="column column-block text-center">
		<div data-open="videoModal3" src="" class="thumbnail video-3" alt="">
			<i class="play-3 fi-play"></i>
		</div>
	</div>
</div>

<div class="reveal" id="videoModal1" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="responsive-embed"> 
	<div class="youtube-player" data-id="FsoX73Y5o-Y">
	</div>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal" id="videoModal2" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="responsive-embed"> 
	<div class="youtube-player" data-id="WptTC2BcWUk">
	</div>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal" id="videoModal3" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="responsive-embed">
	<div class="youtube-player" data-id="Pk4scySuANo">
	</div>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
